
.all--uploaded {
  background: rgba(200, 200, 200, 0.7);
  display:flex;
  align-items:flex-start;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 99%;
}

.new-uploaded {
  display:flex;
  align-items:flex-start;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 99%;
  overflow: auto;
}

.uploaded-images {
  width: 350px;
  height: 200px;
  margin: 8px;
  transition: 0.3s;
  box-shadow: 0px 0px 20px 3px rgba(123, 124, 124, 0.79)
}

.uploaded-images:hover {
  transition: 0.35s;
  z-index: 3;
  box-shadow: 0px 0px 20px 7px rgba(123, 124, 124, 0.79);
}





.grid {
  max-width: 350px;
  margin: 8px;
}

.grid li {
  display: inline-block;
  width: 440px;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

.grid figure {
  margin: 0;
  position: relative;
}

.grid figure img {
  max-width: 350px;
  display: block;
  position: relative;
}

.grid figcaption {
  padding: 20px;
  background: #2c3f52;
  color: #ed4e6e;
  width: 350px;
}

.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}

.grid figcaption span:before {
  content: 'by ';
}

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}

@media screen and (max-width: 31.5em) {
  .grid {
    padding: 10px 10px 100px 10px;
  }
  .grid li {
    width: 100%;
    min-width: 300px;
  }
}

.cs-style-3 figure {
  overflow: hidden;
}

.cs-style-3 figure img {
  transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
  transform: translateY(-50px);
}

.cs-style-3 figcaption {
  height: 100px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
